/* CSSTransitions with React-Router   */
.fade-appear,
.fade-enter {
  position: absolute;
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 300ms linear;
}

.fade-exit {
  position: absolute;
  opacity: 1;
}

.fade-exit.fade-exit-active {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms linear;
}

/* Custom styling over Bootsrap*/

.footer {
  flex-flow: column;
  width: 100%;
  margin: auto;

}

.navbar .textLink {
  padding: 0.5rem;
  text-decoration: none;
  color: inherit;
}


a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.media {
  padding: 1rem 0;
  align-items: center;
}

.media-body {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.read-more {
  cursor: pointer;
}

.navbar {
  background-color: rgb(32, 32, 32);
  color: #0ccac4;
}

.navbar-nav {
  font-size: 1.0rem;
}

.Home {
  padding-top: 8vh;
}

.headline {
  min-height: 100px;
  color: #0ccac4;
}

.loop {
  color: rgb(0 40 60);
}

.font{
  font-size: 30px;
}

.navbar img {
  border-radius: 50%;
  max-width: 100%;
}

.Home img {
  border-radius: 50%;
  max-width: 100%;
}

.Home .media {
  border-top: 1px solid rgb(0 40 60);
  border-left: 10px solid rgb(0 50 60);
  border-right: 1px solid rgb(0 40 60);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom: 10px solid rgb(0 40 60);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.project-block{
  border-top: 1px solid lightgray;
}

.introduction {
  margin: 5vh auto;
}

.About > .row:nth-child(even) .media h3 {
  color: white;
}

.About > .row:nth-child(even) .media p {
  color: light-green;
}

.About div > img {
  width: 25vw;
}

.intro-image {
  width: 13vw;
  padding-left: 10px;
}

.intro-image:hover {
  animation: app-logo-spin 1s ease-in-out;
}

.Testimonials {
  width: 100%;
}

.App-logo:hover {
  animation: app-logo-spin 1s ease-in-out;
}

.foot {
  padding-bottom: 20px;
}

.social-Link {
  animation: app-logo-spin 0.5s ease-in-out;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Small screen styles, width is set to iPhoneX width*/
@media only screen and (max-width: 1024px) {
  .navbar {
    padding-bottom: 10px; 
  }

  .navbar-nav {
    font-size: 0.6rem;
  }

  .container-fluid {
    display: flex;
    flex-flow: column;
    padding-top: 55px;
  }

  .project{
    padding-left: 20px;
    padding-right: 10px;
  }

  .headline {
    min-height: 305px;
    padding-top: 20px; 
  }

  .testimonial {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }

  .home-media{
    padding: 0 0 0 1rem;
    font-family: Georgia;
  }

  .media-body {
    padding: 0 auto;
  }

  .media-image {
    width: 100%;
  }

  .introduction {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
  }

  .intro-image {
    order: left;
    width: 25vw;
  }

  .introduction {
    margin-bottom: 0;
  }

  .about-block,
  .footer {
    width: 100%;
    padding: 2rem 0;
  }

  .intro-image {
    padding-top: 20px;
  }

  .About div > img {
    padding-left: 5px;
    padding-top: 5px;
  }

  .About > .row:nth-child(even) .media h3 {
    font-size: 3vh;
  }

  .About > .row:nth-child(even) .media p {
    font-size: 11px;
  }

  .project-block {
    flex-flow: column;
  }

  .Home {
    overflow: hidden;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .media {
    width: 100%;
  }

  .x5,
  .x6 {
    white-space: normal;
  }
}

/* Large screen styles */
@media only screen and (min-width: 1025px) {
  .about-block,
  .footer {
    width: 100%;
    padding: 2rem 2rem;
  }
  .media {
    width: 66%;
  }
  .media-image {
    width: 50%;
  }

  .media-body {
    width: 50%;
  }

  .Home {
    width: 60%;
  }

  .Testimonials {
    width: 66%;
  }

  .container-fluid {
  display: flex;
  flex-flow: column;
  margin: calc(60px + 1rem) 0 0 0;
}

}
